Repository COS301-SE-2024/The-Republic, pull requests merged in 2024-09, with the labels that each got.

#305 Implemented The Load Balancer For the Servers
  .github/workflows/deployment-and-hosting--backend.yml
  .github/workflows/deployment-and-hosting-frontend.yml
  proxy/nginx/.gitignore
  proxy/nginx/README.md
  proxy/nginx/api_1/.gitignore
  proxy/nginx/api_1/Dockerfile
  proxy/nginx/api_1/index.js
  proxy/nginx/api_1/package-lock.json
  proxy/nginx/api_1/package.json
  proxy/nginx/api_2/.gitignore
  proxy/nginx/api_2/Dockerfile
  proxy/nginx/api_2/index.js
  proxy/nginx/api_2/package-lock.json
  proxy/nginx/api_2/package.json
  proxy/nginx/basic.yaml
  proxy/nginx/compose.yaml
  proxy/nginx/html/index.html
  proxy/nginx/nginx/default.conf
  proxy/python/.gitignore
  proxy/python/Procfile
  proxy/python/app/main.py
  proxy/python/requirements.txt
  proxy/python/run/run.py
  proxy/python/wsgi.py
  reverseproxy/.dockerignore
  reverseproxy/Dockerfile
  reverseproxy/Procfile
  reverseproxy/heroku.yml
  reverseproxy/nginx.conf
  reverseproxy/start-nginx.sh
Labels: scope: Backend, scope: DevOps, priority: High

#307 Issues Optimization
  backend/src/modules/issues/repositories/issueRepository.ts
  backend/src/modules/issues/routes/issueRoutes.ts
  frontend/components/Issue/Issue.tsx
  frontend/components/RelatedIssuesModal/RelatedIssuesModal.tsx
  frontend/components/ResolutionResponseModal/ResolutionResponseModal.tsx
  frontend/lib/api/checkUserIssuesInCluster.tsx
  frontend/lib/api/fetchRelatedIssues.tsx
  frontend/lib/api/fetchResolutionsForIssue.tsx
  frontend/lib/api/fetchUserIssueInCluster.tsx
  frontend/lib/types.ts
Labels: scope: Frontend, scope: Backend

#310 Redis Caching Implementation
  backend/package-lock.json
  backend/package.json
  backend/src/__tests__/controllers/commentController.test.ts
  backend/src/__tests__/controllers/issueController.test.ts
  backend/src/__tests__/controllers/locationController.test.ts
  backend/src/__tests__/controllers/reactionController.test.ts
  backend/src/__tests__/controllers/reportsController.test.ts
  backend/src/__tests__/controllers/subscriptionsController.test.ts
  backend/src/__tests__/controllers/userController.test.ts
  backend/src/__tests__/controllers/visualizationController.test.ts
  backend/src/__tests__/routes/issueRoutes.test.tsx
  backend/src/__tests__/routes/locationRoutes.test.ts
  backend/src/__tests__/routes/reportsRoutes.test.tsx
  backend/src/__tests__/routes/userRoutes.test.tsx
  backend/src/middleware/cacheMiddleware.ts
  backend/src/modules/clusters/controllers/clusterController.ts
  backend/src/modules/issues/controllers/issueController.ts
  backend/src/modules/locations/controllers/locationController.ts
  backend/src/modules/organizations/controllers/organizationController.ts
  backend/src/modules/points/controllers/pointsController.ts
  backend/src/modules/reactions/controllers/reactionController.ts
  backend/src/modules/reports/controllers/reportsController.ts
  backend/src/modules/shared/services/redisClient.ts
  backend/src/modules/users/controllers/userController.ts
  backend/src/utilities/cacheUtils.ts
Labels: scope: Backend, priority: Urgent

#309 Ads
  frontend/components/Feed/Feed.tsx
  frontend/components/LazyList/LazyList.tsx
  frontend/components/RightSidebar/RightSidebar.tsx
  frontend/public/banner_ad_dark.png
  frontend/public/banner_ad_light.png
  frontend/public/banner_gumball.png
  frontend/public/display_1.png
  frontend/public/display_2.png
  frontend/public/display_3.png
  frontend/public/display_4.png
Labels: scope: Frontend, priority: High

#321 (PR) Resolution Forecasting
  backend/package-lock.json
  backend/package.json
  backend/src/__tests__/services/issueService.test.ts
  backend/src/modules/clusters/services/clusterService.ts
  backend/src/modules/issues/repositories/issueRepository.ts
  backend/src/modules/issues/services/issueService.ts
  backend/src/modules/shared/services/redisClient.ts
  backend/src/modules/users/repositories/userRepository.ts
  backend/src/utilities/formatTime.ts
  backend/src/utilities/isLike.ts
  backend/src/utilities/validators.ts
  frontend/__tests__/components/RightSidebar.test.tsx
  frontend/components/Comment/CommentList.tsx
  frontend/components/Feed/Feed.tsx
  frontend/components/Issue/Issue.tsx
  frontend/components/ProfileFeed/ProfileFeed.tsx
  frontend/components/ResolutionFeed/ResolutionFeed.tsx
  frontend/components/Sidebar/Sidebar.tsx
  frontend/components/Visualisations/DotVisualizations.tsx
  frontend/components/icons/InfoIcon.tsx
  frontend/components/ui/error_page.tsx
  frontend/components/ui/resolution-popover.tsx
  frontend/cypress/integration/comment.spec.ts
  frontend/lib/api/updateProfile.tsx
  frontend/lib/types.ts
  proxy/nginx/api_1/package-lock.json
  proxy/nginx/api_1/package.json
  proxy/nginx/api_2/package-lock.json
  proxy/nginx/api_2/package.json
Labels: scope: Backend, priority: Low

#329 Removal of mood selection
  backend/src/__tests__/services/issueService.test.ts
  backend/src/modules/issues/repositories/issueRepository.ts
  backend/src/modules/shared/models/issue.ts
  backend/src/modules/subscriptions/repositories/subscriptionsRepository.ts
  frontend/__tests__/components/Issue.test.tsx
  frontend/components/Issue/Issue.tsx
  frontend/components/IssueInputBox/IssueInputBox.tsx
  frontend/lib/constants.ts
  frontend/lib/types.ts
Labels: scope: Database, scope: Frontend, scope: Backend

#332 Added favicon
  frontend/public/favicon.ico
Labels: scope: Frontend, priority: Low

#330 Feature/username mentions
  backend/package-lock.json
  backend/package.json
  frontend/components/Comment/AddCommentForm.tsx
  frontend/components/Comment/Comment.tsx
  frontend/components/Issue/Issue.tsx
  frontend/components/IssueInputBox/IssueInputBox.tsx
  frontend/components/MentionInput/MentionInput.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: scope: Frontend, priority: Low

#337 Bug fix/reactiions
  backend/src/modules/organizations/repositories/organizationRepository.ts
  backend/src/modules/organizations/services/organizationService.ts
  backend/src/modules/reactions/repositories/reactionRepository.ts
  frontend/app/(home)/organization/[id]/page.tsx
  frontend/components/OrganizationHeader/OrganizationHeader.tsx
  frontend/lib/api/deleteJoinRequest.tsx
Labels: scope: Backend, scope: Bug

#331 Add Google Sign-In and Improve Authentication Flow
  frontend/app/(auth)/completeSignUp/page.tsx
  frontend/app/(auth)/login/page.tsx
  frontend/app/(auth)/signup/page.tsx
  frontend/app/auth/callback/page.tsx
  frontend/components/GoogleSignup/GoogleSignup.tsx
  frontend/components/PostSignupLocation/PostSignupLocation.tsx
  frontend/lib/api/updateOrganization.tsx
Labels: scope: Database, scope: Frontend

#339 Feature/account deletion flow
  frontend/__tests__/components/settings/AccountManagement.test.tsx
  frontend/components/Settings/AccountManagement.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: scope: Frontend, priority: Low

#340 Searching for users and organizations
  backend/src/__tests__/routes/userRoutes.test.tsx
  backend/src/modules/users/controllers/userController.ts
  backend/src/modules/users/repositories/userRepository.ts
  backend/src/modules/users/routes/userRoutes.ts
  backend/src/modules/users/services/userService.ts
  frontend/components/MentionInput/MentionInput.tsx
  frontend/components/ResolutionModal/ResolutionModal.tsx
  frontend/lib/api/searchForUser.tsx
  frontend/lib/types.ts
Labels: scope: Backend, priority: High

#351 Added new domain to allowed origins
  backend/src/app.ts
Labels: scope: Backend

#354 Hotfix/cors error
  backend/src/app.ts
Labels: scope: Bug, priority: Urgent

#356 PR: hotfix/org_bugs
  backend/src/modules/organizations/controllers/organizationController.ts
  backend/src/modules/organizations/repositories/organizationRepository.ts
  backend/src/modules/organizations/services/organizationService.ts
  backend/src/modules/resolutions/services/resolutionService.ts
  frontend/app/(home)/organization/[id]/page.tsx
  frontend/app/(home)/organization/page.tsx
  frontend/components/HelpMenu/Helpmenu.tsx
  frontend/components/OrganizationTabs/MembersTab.tsx
  frontend/components/OrganizationTabs/SettingsTab.tsx
  frontend/components/ResolutionModal/ResolutionModal.tsx
  frontend/lib/api/createOrganization.tsx
  frontend/lib/contexts/UserContext.tsx
Labels: scope: Frontend, scope: Backend, scope: Bug, priority: Urgent

#357 (PR) Updating The Development Branch after The HotFixes
  backend/src/app.ts
  backend/src/modules/organizations/controllers/organizationController.ts
  backend/src/modules/organizations/repositories/organizationRepository.ts
  backend/src/modules/organizations/services/organizationService.ts
  backend/src/modules/resolutions/services/resolutionService.ts
  frontend/app/(home)/organization/[id]/page.tsx
  frontend/components/HelpMenu/Helpmenu.tsx
  frontend/components/OrganizationTabs/MembersTab.tsx
  frontend/components/OrganizationTabs/SettingsTab.tsx
  frontend/components/ResolutionModal/ResolutionModal.tsx
  frontend/lib/api/createOrganization.tsx
Labels: scope: Frontend, scope: Backend, priority: High

#359 PR: Latest Organization Reports
  backend/src/modules/issues/repositories/categoryRepository.ts
  backend/src/modules/issues/repositories/issueRepository.ts
  backend/src/modules/reports/repositories/reportsRepository.ts
  backend/src/modules/reports/services/reportsService.ts
Labels: scope: Frontend, scope: Backend, priority: Urgent

#362 Feature/doc update
  documentation/README.md
  documentation/specifications/ArchitecturalSpecification.pdf
  documentation/specifications/ArchitecturalSpecificationVersion4.md
  documentation/specifications/Coding Standards.pdf
  documentation/specifications/CodingStandardsVersion3.md
  documentation/specifications/RequirementsSpecification.pdf
  documentation/specifications/RequirementsSpecificationVersion4.md
  documentation/specifications/TechnicalInstallationManual.pdf
  documentation/specifications/TechnicalInstallationManualVersion2.md
  documentation/specifications/UserManual.pdf
  documentation/specifications/UserManualVersion4.md
Labels: scope: Documentation, priority: High

#370 PR: added vercel analytics
  frontend/app/layout.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: scope: Frontend, priority: Low

#369 (PR) RealTime Notifications Update
  backend/src/modules/subscriptions/repositories/subscriptionsRepository.ts
  frontend/components/Sidebar/Sidebar.tsx
  frontend/lib/contexts/UserContext.tsx
Labels: scope: Frontend, priority: High

#375 (PR) Some Fixes To The Sidebar and Issue Components
  frontend/components/Issue/Issue.tsx
  frontend/components/LazyList/LazyList.tsx
  frontend/components/Sidebar/Sidebar.tsx
Labels: scope: Frontend, priority: High

#372 (PR) Updated The Documentation
  README.md
  documentation/README.md
  documentation/specifications/APISpecificationVersion3.md
  documentation/specifications/APISpecificationVersion3.pdf
  documentation/specifications/ArchitecturalSpecification.pdf
  documentation/specifications/ArchitecturalSpecificationVersion4.md
  documentation/specifications/ArchitecturalSpecificationVersion4.pdf
  documentation/specifications/CodingStandardsVersion3.md
  documentation/specifications/CodingStandardsVersion3.pdf
  documentation/specifications/DeliverySpecificationVersion3.md
  documentation/specifications/DeliverySpecificationVersion3.pdf
  documentation/specifications/RequirementsSpecification.pdf
  documentation/specifications/RequirementsSpecificationVersion3.md
  documentation/specifications/RequirementsSpecificationVersion4.md
  documentation/specifications/TechnicalInstallationManualVersion2.md
  documentation/specifications/TechnicalInstallationManualVersion2.pdf
  documentation/specifications/TestingSpecification.pdf
  documentation/specifications/TestingSpecificationVersion4.md
  documentation/specifications/UserManual.pdf
  frontend/app/about/page.tsx
Labels: scope: Documentation, priority: High
