Repository COS301-SE-2024/The-Republic, pull requests merged in 2024-10, with the labels that each got.

#379 Hotfix/location filtering error
  backend/src/modules/issues/repositories/issueRepository.ts
  frontend/app/(home)/organization/page.tsx
Labels: scope: Bug, priority: Urgent

#377 Feature/testing
  frontend/__tests__/components/CompactDowpdown.test.tsx
  frontend/__tests__/components/Dropdowsn.test.tsx
  frontend/__tests__/components/FilterModal.test.tsx
  frontend/__tests__/components/NotificationList.test.tsx
Labels: scope: Testing, priority: High

#380 PR: hotfix/signup_with_email
  frontend/lib/api/updateProfile.tsx
Labels: scope: Bug, priority: Urgent

#389 Hotfix: Dark Mode Enhancements and User Deletion Image Update
  backend/src/modules/users/repositories/userAdminRepository.ts
  frontend/components/OrganizationTabs/MembersTab.tsx
  frontend/components/Sidebar/Sidebar.tsx
  frontend/styles/Custom.module.css
Labels: scope: Frontend, priority: High

#390 (PR) Fixing Fetching Issues Error
  backend/src/modules/issues/repositories/issueRepository.ts
  frontend/components/Feed/Feed.tsx
Labels: scope: Frontend, priority: Urgent

#391 Added new resources for demo 4 content
  README.md
Labels: scope: Documentation, priority: Urgent

#392 (PR) Updated Documentation DIR Structure to Reduce Clutter
  README.md
  documentation/Demo 1 - Documentation/APISpecification.md
  documentation/Demo 1 - Documentation/ArchitecturalSpecification.md
  documentation/Demo 1 - Documentation/CodingStandards.md
  documentation/Demo 1 - Documentation/DeliverySpecification.md
  documentation/Demo 1 - Documentation/RequirementsSpecification.md
  documentation/Demo 2 - Documentation/APISpecification.md
  documentation/Demo 2 - Documentation/ArchitecturalSpecification.md
  documentation/Demo 2 - Documentation/ClusteringSubsystem.md
  documentation/Demo 2 - Documentation/CodingStandards.md
  documentation/Demo 2 - Documentation/DeliverySpecification.md
  documentation/Demo 2 - Documentation/GamificationSpecification.md
  documentation/Demo 2 - Documentation/RequirementsSpecification.md
  documentation/Demo 2 - Documentation/ResolutionSubsystem.md
  documentation/Demo 2 - Documentation/TestingSpecification.md
  documentation/Demo 2 - Documentation/UserManual.md
  documentation/Demo 3 - Documentation/APISpecification.md
  documentation/Demo 3 - Documentation/ArchitecturalSpecification.md
  documentation/Demo 3 - Documentation/RequirementsSpecification.md
  documentation/Demo 3 - Documentation/TechnicalInstallationManual.md
  documentation/Demo 3 - Documentation/TestingSpecification.md
  documentation/Demo 3 - Documentation/UserManual.md
  documentation/Demo 4 - Documentation (PDF)/APISpecification.pdf
  documentation/Demo 4 - Documentation (PDF)/ArchitecturalSpecification.pdf
  documentation/Demo 4 - Documentation (PDF)/Coding Standards.pdf
  documentation/Demo 4 - Documentation (PDF)/CodingStandards.pdf
  documentation/Demo 4 - Documentation (PDF)/DeliverySpecification.pdf
  documentation/Demo 4 - Documentation (PDF)/RequirementsSpecification.pdf
  documentation/Demo 4 - Documentation (PDF)/TechnicalInstallationManual.pdf
  documentation/Demo 4 - Documentation (PDF)/TestingSpecification.pdf
  documentation/Demo 4 - Documentation (PDF)/UserManual.pdf
  documentation/Demo 4 - Documentation/ArchitecturalSpecification.md
  documentation/Demo 4 - Documentation/CodingStandards.md
  documentation/Demo 4 - Documentation/DeliverySpecification.md
  documentation/Demo 4 - Documentation/OrganisationSubsystem.md
  documentation/Demo 4 - Documentation/RequirementsSpecification.md
  documentation/Demo 4 - Documentation/TechnicalInstallationManual.md
  documentation/Demo 4 - Documentation/TestingSpecification.md
  documentation/Demo 4 - Documentation/UserManual.md
  documentation/Diagramns/ArchitecturalDiagramVersion.png
  documentation/Diagramns/Class/class_diagram.png
  documentation/Diagramns/Deployment.png
  documentation/Diagramns/Deployment.svg
  documentation/Diagramns/Resolution.drawio.png
  documentation/Diagramns/Use Cases/authentication.png
  documentation/Diagramns/Use Cases/feed.png
  documentation/Diagramns/Use Cases/interactions.png
  documentation/Diagramns/Use Cases/profile_management.png
  documentation/Diagramns/Use Cases/reporting.png
  documentation/README.md
  documentation/images/social.png
  documentation/specifications/DesignSpecificationVersion1.md
  documentation/specifications/TechnicalInstallationManual.pdf
  documentation/specifications/TestingSpecificationVersion1.md
  documentation/specifications/UserManualVersion1.md
Labels: scope: Documentation, priority: High

#393 (PR) Added the Colored and B&W Digramns
  documentation/Diagramns/Deployment Digramn - B&W.png
  documentation/Diagramns/Deployment Digramn - B&W.svg
  documentation/Diagramns/Deployment Digramn - Color.png
  documentation/Diagramns/Deployment Digramn - Color.svg
  documentation/Diagramns/Deployment.png
  documentation/Diagramns/Deployment.svg
Labels: scope: Documentation, priority: Low
