Repository COS301-SE-2024/The-Republic, pull requests merged in 2024-07, with the labels that each got.

#178 V1 of Gamification Plan
  documentation/specifications/GamificationSpec.md
Labels: scope: Documentation

#177 Feature/scroll behaviour
  frontend/app/(home)/layout.tsx
  frontend/components/Feed/Feed.module.css
  frontend/components/Feed/Feed.tsx
  frontend/components/RightSidebar/RightSidebar.tsx
  frontend/components/Sidebar/Sidebar.tsx
Labels: scope: Frontend

#179 Location filtering on the frontend
  backend/src/__tests__/middleware/middleware.test.ts
  backend/src/app.ts
  backend/src/controllers/issueController.ts
  backend/src/controllers/locationController.ts
  backend/src/db/issueRepository.ts
  backend/src/db/locationRepository.ts
  backend/src/middleware/middleware.ts
  backend/src/routes/locationRoutes.ts
  backend/src/services/locationService.ts
  backend/src/types/issue.ts
  frontend/components/Feed/Feed.tsx
  frontend/components/RightSidebar/RightSidebar.tsx
  frontend/lib/types.ts
Labels: scope: Frontend, scope: Backend

#187 Feature/planning: Added documentation for resolution and clustering
  documentation/specifications/Clustering Subsystem.md
  documentation/specifications/Resolution Subsystem.md
  documentation/specifications/Resolution.drawio (2).png
Labels: scope: Documentation

#203 Feature/location filter fix
  backend/src/routes/locationRoutes.ts
  frontend/components/Feed/Feed.tsx
Labels: scope: Frontend, scope: Backend

#210 Enhance Dot Visualization with Issue Rate-Based Scaling
  frontend/components/Visualisations/DotVisualizations.tsx
  frontend/lib/types.ts
Labels: scope: Frontend, priority: Low

#217 Combined the Visualization & Reports Pages/Tabs
  frontend/__tests__/components/Sidebar.test.tsx
  frontend/__tests__/components/charts/Report.test.tsx
  frontend/__tests__/components/comments/AddComment.test.tsx
  frontend/__tests__/components/comments/Comment.test.tsx
  frontend/__tests__/components/visualizations/Visualisation.test.tsx
  frontend/__tests__/components/visualizations/Visualizations.test.tsx
  frontend/__tests__/pages/home/Analytics.test.tsx
  frontend/__tests__/pages/home/Visualizations.test.tsx
  frontend/app/(home)/analytics/page.tsx
  frontend/components/ReportCharts/Reports.tsx
  frontend/components/Sidebar/Sidebar.tsx
  frontend/components/Visualisations/Visualizations.tsx
Labels: scope: Frontend, scope: Testing, priority: Low

#221 Enhanced Reports Tab with Persistent Chart Filtering
  frontend/__tests__/components/charts/Report.test.tsx
  frontend/app/(home)/analytics/page.tsx
  frontend/components/ReportCharts/Reports.tsx
  frontend/components/Visualisations/Visualizations.tsx
Labels: scope: Frontend

#223 Updated The Dependencies For Backend
  backend/package.json
Labels: scope: Backend, priority: High

#225 Initial implementation of gamification system and location based leaderboard
  backend/package-lock.json
  backend/src/__tests__/services/commentService.test.ts
  backend/src/__tests__/services/issueService.test.ts
  backend/src/__tests__/services/reactionService.test.ts
  backend/src/app.ts
  backend/src/data/mockUser.ts
  backend/src/modules/comments/services/commentService.ts
  backend/src/modules/issues/services/issueService.ts
  backend/src/modules/locations/repositories/locationRepository.ts
  backend/src/modules/locations/services/locationService.ts
  backend/src/modules/points/controllers/pointsController.ts
  backend/src/modules/points/repositories/pointsRepository.ts
  backend/src/modules/points/routes/pointsRoutes.ts
  backend/src/modules/points/services/pointsService.ts
  backend/src/modules/reactions/services/reactionService.ts
  backend/src/modules/shared/models/issue.ts
  backend/src/modules/users/repositories/userRepository.ts
  backend/src/modules/users/services/userService.ts
  backend/src/types/users.ts
Labels: scope: Database, scope: Backend, priority: High

#227 Renewed azure subscription
  frontend/lib/api/checkContentAppropriateness.tsx
Labels: scope: Frontend, priority: High

#228 Introduction of user location and feed localization
  backend/src/modules/locations/controllers/locationController.ts
  backend/src/modules/locations/repositories/locationRepository.ts
  backend/src/modules/locations/routes/locationRoutes.ts
  backend/src/modules/locations/services/locationService.ts
  backend/src/modules/users/services/userService.ts
  frontend/components/EditProfile/EditProfile.tsx
  frontend/components/Feed/Feed.tsx
  frontend/components/IssueInputBox/IssueInputBox.tsx
  frontend/components/LocationAutocomplete/LocationAutocomplete.tsx
  frontend/components/LocationModal/LocationModal.tsx
  frontend/components/ui/tabs.tsx
  frontend/lib/api/fetchUserLocation.tsx
  frontend/lib/api/updateProfile.tsx
  frontend/lib/types.ts
  frontend/package-lock.json
  frontend/package.json
Labels: scope: Database, scope: Frontend, scope: Backend, priority: Urgent
