Repository COS301-SE-2024/The-Republic, pull requests merged in 2024-08, with the labels that each got.

#229 Introduction of Clustering with Embeddings
  backend/package-lock.json
  backend/package.json
  backend/src/__tests__/services/issueService.test.ts
  backend/src/app.ts
  backend/src/modules/clusters/controllers/clusterController.ts
  backend/src/modules/clusters/repositories/clusterRepository.ts
  backend/src/modules/clusters/routes/clusterRoutes.ts
  backend/src/modules/clusters/services/clusterService.ts
  backend/src/modules/issues/repositories/issueRepository.ts
  backend/src/modules/issues/services/issueService.ts
  backend/src/modules/shared/models/cluster.ts
  backend/src/modules/shared/models/issue.ts
  backend/src/modules/shared/services/openAIService.ts
Labels: scope: Database, scope: Backend, priority: Urgent

#232 Feature/resolution_ui
  frontend/components/Issue/Issue.tsx
  frontend/components/MoreMenu/MoreMenu.tsx
  frontend/components/ResolutionModal/ResolutionModal.tsx
  frontend/components/ui/radio-group.tsx
  frontend/components/ui/select.tsx
  frontend/components/ui/textarea.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: scope: Frontend, priority: High

#234 Complete Resolution Subsystem V1
  backend/src/modules/clusters/repositories/clusterRepository.ts
  backend/src/modules/clusters/services/clusterService.ts
  backend/src/modules/issues/controllers/issueController.ts
  backend/src/modules/issues/repositories/issueRepository.ts
  backend/src/modules/issues/routes/issueRoutes.ts
  backend/src/modules/issues/services/issueService.ts
  backend/src/modules/resolutions/repositories/resolutionRepository.ts
  backend/src/modules/resolutions/repositories/resolutionResponseRepository.ts
  backend/src/modules/resolutions/services/resolutionService.ts
  backend/src/modules/shared/models/issue.ts
  backend/src/modules/shared/models/resolution.ts
  frontend/__tests__/components/Feed.test.tsx
  frontend/__tests__/components/IssueInputBox.test.tsx
  frontend/app/(home)/profile/[userId]/page.tsx
  frontend/components/Dropdown/Dropdown.tsx
  frontend/components/Feed/Feed.tsx
  frontend/components/Issue/Issue.tsx
  frontend/components/IssueInputBox/IssueInputBox.tsx
  frontend/components/MapModal/MapModal.tsx
  frontend/components/ProfileFeed/ProfileFeed.tsx
  frontend/components/ProfileStats/ProfileStats.tsx
  frontend/components/Resolution/Resolution.tsx
  frontend/components/ResolutionFeed/ResolutionFeed.tsx
  frontend/components/ResolutionModal/ResolutionModal.tsx
  frontend/components/ResolutionResponseModal/ResolutionResponseModal.tsx
  frontend/components/RightSidebar/RightSidebar.tsx
  frontend/lib/api/checkUserIssuesInCluster.tsx
  frontend/lib/api/createExternalResolution.tsx
  frontend/lib/api/createSelfResolution.tsx
  frontend/lib/api/deleteResolution.tsx
  frontend/lib/api/fetchResolutionsForIssue.tsx
  frontend/lib/api/fetchUserIssueInCluster.tsx
  frontend/lib/api/fetchUserResolutions.tsx
  frontend/lib/api/respondToResolution.ts
  frontend/lib/api/updateProfile.tsx
  frontend/lib/constants.ts
  frontend/lib/types.ts
Labels: scope: Database, scope: Frontend, scope: Backend, priority: Urgent

#238 Integration of gamification on the frontend
  backend/src/modules/comments/repositories/commentRepository.ts
  backend/src/modules/issues/repositories/issueRepository.ts
  backend/src/modules/points/repositories/pointsRepository.ts
  frontend/__tests__/components/charts/Report.test.tsx
  frontend/app/(home)/leaderboard/page.tsx
  frontend/app/(home)/profile/[userId]/page.tsx
  frontend/components/Comment/Comment.tsx
  frontend/components/EditProfile/EditProfile.tsx
  frontend/components/Header/Header.tsx
  frontend/components/Issue/Issue.tsx
  frontend/components/Leaderboard/Leaderboard.tsx
  frontend/components/ProfileFeed/ProfileFeed.tsx
  frontend/components/ProfileHeader/ProfileHeader.tsx
  frontend/components/ReportCharts/Reports.tsx
  frontend/components/Sidebar/Sidebar.tsx
  frontend/components/UserAvatarWithScore/UserAvatarWithScore.tsx
  frontend/components/icons/TrophyIcon.tsx
  frontend/components/icons/index.ts
  frontend/lib/api/fetchLeaderboard.tsx
  frontend/lib/types.ts
  frontend/styles/Custom.module.css
  frontend/tailwind.config.js
Labels: scope: Frontend, priority: High

#242 Add Political Association Dropdown to Resolution Modal
  frontend/components/ResolutionModal/ResolutionModal.tsx
  frontend/lib/constants.ts
Labels: scope: Frontend, priority: Low

#245 Version 1 of Enhanced Responsiveness For Mobile Experience
  frontend/__tests__/components/Feed.test.tsx
  frontend/__tests__/components/Header.test.tsx
  frontend/app/(home)/layout.tsx
  frontend/components/Feed/Feed.tsx
  frontend/components/FilterModal/FilterModal.tsx
  frontend/components/Header/Header.tsx
  frontend/components/HelpMenu/Helpmenu.tsx
  frontend/components/Issue/Issue.tsx
  frontend/components/IssueInputBox/IssueInputBox.tsx
  frontend/components/MobileIssueInput/MobileIssueInput.tsx
  frontend/components/ReportCharts/BarChart/BarChart.tsx
  frontend/components/ReportCharts/DonutChart/DonutChart.tsx
  frontend/components/ReportCharts/LineChart/LineChart.tsx
  frontend/components/ReportCharts/RadarChart/RadarChart.tsx
  frontend/components/ReportCharts/StackedLineChart/StackedLineChart.tsx
  frontend/components/ReportCharts/TransitionOfParliament/TransitionOfParliament.tsx
  frontend/components/Sidebar/Sidebar.tsx
  frontend/components/Visualisations/DotVisualizations.tsx
  frontend/components/Visualisations/Visualizations.tsx
  frontend/global.d.ts
  frontend/lib/useMediaQuery.ts
  frontend/styles/Custom.module.css
  frontend/tsconfig.json
Labels: scope: Frontend, priority: High

#246 Enhance Cluster Resolution Process
  backend/src/modules/clusters/controllers/clusterController.ts
  backend/src/modules/clusters/repositories/clusterRepository.ts
  backend/src/modules/clusters/services/clusterService.ts
  backend/src/modules/issues/repositories/issueRepository.ts
  backend/src/modules/resolutions/services/resolutionService.ts
  backend/src/modules/shared/models/cluster.ts
Labels: scope: Database, scope: Backend, priority: High

#247 Feature/UI improvements
  frontend/__tests__/components/Feed.test.tsx
  frontend/components/EditProfile/EditProfile.tsx
  frontend/components/Feed/Feed.tsx
  frontend/components/Header/Header.tsx
  frontend/components/ResolutionModal/ResolutionModal.tsx
  frontend/components/ResolutionResponseModal/ResolutionResponseModal.tsx
  frontend/components/Sidebar/Sidebar.tsx
Labels: scope: Frontend, priority: High

#251 (hotfix) Updated The RealTime Notifications as Well as The Page
  backend/src/__tests__/services/issueService.test.ts
  backend/src/__tests__/services/reactionService.test.ts
  backend/src/modules/issues/services/issueService.ts
  backend/src/modules/reactions/services/reactionService.ts
  backend/src/modules/resolutions/services/resolutionService.ts
  backend/src/modules/subscriptions/controllers/subscriptionsController.ts
  backend/src/modules/subscriptions/repositories/subscriptionsRepository.ts
  backend/src/modules/subscriptions/routes/subscriptionsRoutes.ts
  backend/src/modules/subscriptions/services/subscriptionsService.ts
  backend/src/types/subscriptions.ts
  frontend/__tests__/components/EditProfile.test.tsx
  frontend/__tests__/components/IssueInputBox.test.tsx
  frontend/__tests__/components/Notifications.test.tsx
  frontend/__tests__/components/comments/CommentList.test.tsx
  frontend/components/Comment/AddCommentForm.tsx
  frontend/components/Comment/Comment.tsx
  frontend/components/Issue/Issue.tsx
  frontend/components/IssueInputBox/IssueInputBox.tsx
  frontend/components/Notifications/Notifications.tsx
  frontend/components/Notifications/NotificationsList.tsx
  frontend/components/ReportCharts/BarChart/BarChart.tsx
  frontend/components/Sidebar/Sidebar.tsx
  frontend/components/ui/card.tsx
  frontend/lib/formatRelativeTime.ts
  frontend/lib/types.ts
  reverseproxy/Dockerfile
  reverseproxy/Procfile
  reverseproxy/heroku.yml
  reverseproxy/nginx.conf
  reverseproxy/start-nginx.sh
Labels: scope: Frontend, scope: Backend, priority: Urgent

#252 Hotfix/cors fix
  backend/src/app.ts
Labels: scope: Bug, priority: Urgent

#253 (hotfix) Updated The Error Handing For Leaderboard Tab
  frontend/components/Leaderboard/Leaderboard.tsx
  frontend/components/Notifications/NotificationsList.tsx
  frontend/components/ui/error_display.tsx
  frontend/lib/types.ts
Labels: scope: Frontend, priority: High

#254 Minor bug fixes and improvements
  backend/src/__tests__/services/issueService.test.ts
  backend/src/modules/clusters/repositories/clusterRepository.ts
  backend/src/modules/issues/controllers/issueController.ts
  backend/src/modules/issues/repositories/issueRepository.ts
  backend/src/modules/issues/routes/issueRoutes.ts
  backend/src/modules/issues/services/issueService.ts
  backend/src/modules/locations/repositories/locationRepository.ts
  frontend/__tests__/components/Sidebar.test.tsx
  frontend/components/Issue/Issue.tsx
  frontend/components/RelatedIssuesModal/RelatedIssuesModal.tsx
  frontend/components/ResolutionModal/ResolutionModal.tsx
  frontend/components/ResolutionResponseModal/ResolutionResponseModal.tsx
  frontend/components/Sidebar/Sidebar.tsx
  frontend/lib/api/fetchRelatedIssues.tsx
Labels: priority: Urgent

#259 hotfix/readme
  README.md
  frontend/components/HelpMenu/Helpmenu.tsx
  frontend/components/Issue/Issue.tsx
Labels: scope: Documentation, scope: Frontend, priority: Urgent

#261 Showing User's own Actions in Notifications by Default.
  backend/src/modules/subscriptions/repositories/subscriptionsRepository.ts
Labels: scope: Backend, priority: High

#260 Feature/more tests
  frontend/components/Comment/AddCommentForm.tsx
  frontend/components/Comment/Comment.tsx
  frontend/components/Issue/Issue.tsx
  frontend/cypress.config.ts
  frontend/cypress/fixtures/resolutions.json
  frontend/cypress/integration/comment.spec.ts
  frontend/cypress/integration/gamification.spec.ts
  frontend/cypress/integration/leaderboard.spec.ts
  frontend/cypress/integration/location.spec.ts
  frontend/cypress/integration/resolution.spec.ts
Labels: scope: Testing, priority: Urgent

#263 hotfix/Added back points
  frontend/components/HelpMenu/Helpmenu.tsx
Labels: scope: Frontend, priority: Urgent

#300 Organizations Module Implementation (Backend)
  backend/src/app.ts
  backend/src/modules/organizations/controllers/organizationController.ts
  backend/src/modules/organizations/repositories/organizationRepository.ts
  backend/src/modules/organizations/routes/organizationRoutes.ts
  backend/src/modules/organizations/services/organizationService.ts
  backend/src/modules/shared/models/organization.ts
  backend/src/types/pagination.ts
  backend/src/utilities/validators.ts
Labels: scope: Backend, priority: High
