Repository COS301-SE-2024/The-Republic, pull requests merged in 2024-06, with the labels that each got.

#52 Integration of Issues and their management, and User Interface with Security Improvements
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/issueController.ts
  backend/src/db/issueRepository.ts
  backend/src/models/issue.ts
  backend/src/routes/issueRoutes.ts
  backend/src/services/issueService.ts
  frontend/components/Feed/Feed.tsx
  frontend/components/Header/Header.tsx
  frontend/components/Issue/Issue.tsx
  frontend/components/IssueInputBox/IssueInputBox.tsx
  frontend/components/MoreMenu/MoreMenu.tsx
  frontend/lib/globals.ts
  frontend/lib/types.ts
Labels: scope: Frontend, priority: Urgent

#82 Feature/profile picture integration
  backend/src/app.ts
  backend/src/controllers/userController.ts
  backend/src/db/userRepository.ts
  backend/src/routes/userRoutes.ts
  frontend/app/(home)/layout.tsx
  frontend/components/Feed/Feed.tsx
  frontend/components/Header/Header.tsx
  frontend/components/HomeAvatar/HomeAvatar.tsx
  frontend/components/Issue/Issue.tsx
  frontend/components/IssueInputBox/IssueInputBox.tsx
  frontend/lib/contexts/UserContext.tsx
Labels: scope: Database, scope: Frontend, scope: Backend

#90 Created character counting progress bar/ring
  frontend/components/CircularProgressBar/CircularProgressBar.tsx
  frontend/components/IssueInputBox/IssueInputBox.tsx
  frontend/lib/constants.ts
  frontend/lib/contexts/UserContext.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: scope: Frontend

#93 Fixed IssueInputBox typescript errors
  frontend/components/Feed/Feed.tsx
  frontend/components/IssueInputBox/IssueInputBox.tsx
  frontend/components/ProfileStats/ProfileStats.tsx
Labels: scope: Bug

#96 Removed service contract from SRS and created API Specification
  documentation/specifications/APISpecification.md
  documentation/specifications/RequirementsSpecification.md
Labels: scope: Documentation

#95 (PR) Initial Reports Charts and Dot Visualization
  .github/workflows/docker-backend.yml
  .github/workflows/docker-frontend.yml
  .github/workflows/hosting-backend.yml
  .github/workflows/hosting-frontend.yml
  .github/workflows/linter-backend.yml
  .github/workflows/linter-frontend.yml
  .github/workflows/testing-backend.yml
  .github/workflows/testing-frontend.yml
  frontend/app/(home)/layout.tsx
  frontend/app/(home)/reports/page.tsx
  frontend/app/(home)/visualizations/page.tsx
  frontend/components/Header/Header.tsx
  frontend/components/ReportCharts/BarChart/BarChart.tsx
  frontend/components/ReportCharts/DonutChart/DonutChart.tsx
  frontend/components/ReportCharts/LineChart/LineChart.tsx
  frontend/components/ReportCharts/RadarChart/RadarChart.tsx
  frontend/components/ReportCharts/StackedLineChart/StackedLineChart.tsx
  frontend/components/ReportCharts/TransitionOfParliament/TransitionOfParliament.tsx
  frontend/components/ReportCharts/index.ts
  frontend/components/Sidebar/Sidebar.tsx
  frontend/components/Visualisations/DotVisualizations.tsx
  frontend/components/icons/HomeIcon.tsx
  frontend/components/icons/LogoutIcon.tsx
  frontend/components/icons/NotificationsIcon.tsx
  frontend/components/icons/ProfileIcon.tsx
  frontend/components/icons/ReportsIcon.tsx
  frontend/components/icons/SettingsIcon.tsx
  frontend/components/icons/VisualizationsIcon.tsx
  frontend/components/icons/index.ts
  frontend/data/dot.ts
  frontend/lib/contexts/UserContext.tsx
  frontend/lib/types.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/default.png
  frontend/public/images/b-logo-full.png
  frontend/public/images/b-logo.png
  frontend/public/images/w-logo-full.png
  frontend/public/images/w-logo.png
  frontend/styles/Custom.module.css
  frontend/styles/globals.css
  frontend/tailwind.config.js
Labels: scope: Frontend, scope: DevOps

#101 Added user_reaction and comment_count field to getIssues and getIssuesByID
  backend/src/db/issueRepository.ts
Labels: scope: Backend

#103 Feature/location inputting
  backend/src/db/issueRepository.ts
  backend/src/db/locationRepository.ts
  backend/src/models/issue.ts
  backend/src/services/commentService.ts
  backend/src/services/issueService.ts
  backend/src/services/reactionService.ts
  backend/src/services/userService.ts
  backend/src/tests/commentService.test.ts
  backend/src/tests/issueService.test.ts
  backend/src/tests/reactionService.test.ts
  backend/src/tests/userService.test.ts
  frontend/components/Feed/Feed.tsx
  frontend/components/Issue/Issue.tsx
  frontend/components/IssueInputBox/IssueInputBox.tsx
  frontend/components/LocationAutocomplete/LocationAutocomplete.tsx
  frontend/lib/types.ts
  frontend/package-lock.json
  frontend/package.json
Labels: scope: Frontend, scope: Backend, scope: Testing

#112 Feature/anonymous posting and is_owner identification
  backend/src/controllers/commentController.ts
  backend/src/controllers/issueController.ts
  backend/src/db/commentRepository.ts
  backend/src/db/issueRepository.ts
  backend/src/models/issue.ts
  backend/src/services/commentService.ts
  backend/src/services/issueService.ts
  backend/src/tests/commentService.test.ts
Labels: scope: Backend

#114 feature/Profile Page management
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/controllers/issueController.ts
  backend/src/controllers/userController.ts
  backend/src/db/issueRepository.ts
  backend/src/db/userRepository.ts
  backend/src/models/issue.ts
  backend/src/routes/issueRoutes.ts
  backend/src/routes/userRoutes.ts
  backend/src/services/commentService.ts
  backend/src/services/issueService.ts
  backend/src/services/userService.ts
  backend/src/tests/commentService.test.ts
  backend/src/tests/issueService.test.ts
  backend/src/tests/userService.test.ts
  frontend/app/(home)/profile/[userId]/page.tsx
  frontend/app/(home)/profile/page.tsx
  frontend/components/Comment/AddCommentForm.tsx
  frontend/components/EditProfile/EditProfile.tsx
  frontend/components/Issue/Issue.tsx
  frontend/components/ProfileFeed/ProfileFeed.tsx
  frontend/components/ProfileHeader/ProfileHeader.tsx
  frontend/components/ProfileStats/ProfileStats.tsx
  frontend/components/Sidebar/Sidebar.tsx
  frontend/lib/mock.ts
  frontend/lib/types.ts
Labels: scope: Database, scope: Frontend, scope: Backend

#117 Feature/comment integration
  backend/src/db/commentRepository.ts
  backend/src/models/issue.ts
  backend/src/services/commentService.ts
  frontend/app/(home)/issues/[issueId]/page.tsx
  frontend/components/Comment/AddCommentForm.tsx
  frontend/components/Comment/Comment.tsx
  frontend/components/Comment/CommentList.tsx
  frontend/components/Issue/Issue.tsx
  frontend/lib/contexts/UserContext.tsx
  frontend/lib/mock.ts
  frontend/lib/types.ts
Labels: scope: Frontend, scope: Backend

#119 Feature/content moderation
  frontend/components/Comment/AddCommentForm.tsx
  frontend/components/Feed/Feed.tsx
  frontend/components/Issue/Issue.tsx
  frontend/components/IssueInputBox/IssueInputBox.tsx
  frontend/components/Reaction/Reaction.tsx
  frontend/lib/contexts/UserContext.tsx
  frontend/lib/types.ts
  frontend/package-lock.json
  frontend/package.json
Labels: scope: Frontend

#120 Feature/sorting filtering feed
  backend/src/db/issueRepository.ts
  backend/src/db/userRepository.ts
  backend/src/services/issueService.ts
  frontend/app/(home)/layout.tsx
  frontend/components/Feed/Feed.tsx
  frontend/components/RightSidebar/RightSidebar.tsx
Labels: scope: Frontend, scope: Backend

#121 Moderation fix
  frontend/components/Comment/AddCommentForm.tsx
  frontend/components/IssueInputBox/IssueInputBox.tsx
Labels: scope: Frontend

#131 Added the technology choices to the architectural doc
  documentation/images/diagrams/Architectural Diagram.jpg
  documentation/images/diagrams/Layered.jpg
  documentation/images/diagrams/Proxy.jpg
  documentation/specifications/ArchitecturalSpecification.md
Labels: scope: Documentation

#132 Feature/commentreply bugfix
  frontend/components/Comment/Comment.tsx
  frontend/components/Comment/CommentList.tsx
  frontend/components/IssueInputBox/IssueInputBox.tsx
Labels: scope: Frontend

#135 Feature/image uploading
  backend/src/controllers/issueController.ts
  backend/src/db/issueRepository.ts
  backend/src/routes/issueRoutes.ts
  backend/src/services/issueService.ts
  backend/src/tests/issueService.test.ts
  frontend/components/Issue/Issue.tsx
  frontend/components/IssueInputBox/IssueInputBox.tsx
  frontend/next.config.mjs
Labels: scope: Frontend, scope: Backend

#139 Added links to demo video and edited some of the Architectural Spec
  README.md
  documentation/specifications/ArchitecturalSpecificationVersion2.md
Labels: scope: Documentation

#142 Fixed canva link
  README.md
Labels: scope: Bug

#141 Added demo video and slides to readMe
  README.md
  documentation/specifications/ArchitecturalSpecificationVersion2.md
Labels: scope: Documentation

#143 Minor bug fixes for feed
  backend/src/db/issueRepository.ts
  frontend/components/RightSidebar/RightSidebar.tsx
Labels: priority: High

#144 (PR) Hotfix for Chart Rendering Issues
  frontend/components/ReportCharts/DonutChart/DonutChart.tsx
  frontend/components/ReportCharts/TransitionOfParliament/TransitionOfParliament.tsx
Labels: scope: Frontend, priority: High
